#dashboard-user-block {

  .user {
    clear: both;
    margin-bottom: 1em;

    .user-image-placeholder {
      background-color: #e7e7e7;
      border: 1px solid darkgray;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      img {
        border-radius: inherit;
      }
    }

    .user-image {
      float: left;
      width: 50px;
      min-height: 70px;
    }

    .user-name {
      font-weight: bold;
    }

    .user-infos {

    }
  }
}